:root {
  /* Color Code */
  --background-one: #282c34;
  --primary-color: #03e9f4;
  --font-color: #ffffff;

  /* Size Code */
  --buton-font-size: 30px;
  --counter-font-size: 50px;
}

body {
  background-color: var(--background-one);
  overflow-y: hidden;
  overflow-x: hidden;
}


.App {
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--font-color);
  margin-top: 10vh;
}

.button {
  position: relative;
  display: inline-box;
  padding: 25px 30px;
  margin: 40px 0;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  background-color: transparent;
  border: 0px;
  font-size: var(--buton-font-size);
}

:focus {
  outline-color: var(--background-one); /* Renk Kodu */
  outline-width: 1px; /* Genişlik */
  outline-style: solid; /* Stil */
}

.button:hover {
  background: var(--primary-color);
  color: #050801;
  box-shadow: 0 0 5px var(--primary-color),
              0 0 25px var(--primary-color),
              0 0 50px var(--primary-color),
              0 0 200px var(--primary-color);
  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.button span {
  position: absolute;
  display: block;
}

.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,var(--primary-color));
  animation: animate1 1s linear infinite;
}



h1 {
  font-size: var(--counter-font-size);
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}

.button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg,transparent,var(--primary-color));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.button span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,var(--primary-color));
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}
.button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--primary-color));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}